// mobile responsive
@media(max-width: 767px) {
  .header {
    min-height: 46px;
  } 
  .subscribe__lead {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin-bottom: 25px; 
  }
  .subscribe__lead:before {
    font-size: 70px;
    top: 0;
    margin-top: 0;
    position: static;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .subscribe__lead strong {
    font-size: 22px;
  }
  .subscribe .subscribe__lead,
  .subscribe .subscribe__form {
    display: block;
  }
  .subscribe__form {
    margin-right: 0;
  }
  .subscribe__form>*:last-child {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
  .quickly-start-blocks-wrapper {
    display: block;
  }
  .quickly-start-blocks {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .quickly-start-blocks__title {
    font-size: 30px;
    line-height: 38px;
  }
  .quickly-start-blocks__desc {
    font-size: 17px;
  }
  .quickly-start-blocks__desc br {
    display: none;
  }
  .block-title__caption {
    display: block;
    text-align: center;
    font-size: 34px;
  }
  .block-title__link {
    display: none;
  }
  .block-title {
    padding: 30px 0 22px 0;
  }
  .block-title__slider-controls {
    position: static;
    display: block;
    text-align: center;
  }
  .categories-list__nav>ul>li {
    width: 50%;
  }
  .categories-list__lead {
    font-size: 24px;
  }
  .home-search__block {
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
  }
  .home-search__block__form>*:first-child+* {
    display: none;
  }
  .home-search__block__form .btn.btn-default {
    height: 50px;
    border-radius: 0 4px 4px 0;
  }
  .home-search__block__form>*:first-child {
    width: 67%;
  }
  .footer__top {
    padding: 29px 15px 29px 15px;
  }
  .home-search__block__form .btn.btn-default i {
    top: 0;
  }
  .home-search__block__form .btn.btn-default span {
    display: none;
  }
  .subscribe__form .form-control {
    width: 100%;
  }
  .modal-dialog {
    top: 15%;
  }
  .product-footer>div,
  .product-block>div {
    display: block;
    margin-right: auto;
    width: 100% !important;
    margin-left: auto !important;
  }
  .widget__body {
    padding: 20px;
  }
  .widget__title {
    padding: 12px 0 12px 18px;
  }
  .widget__title {
    font-size: 28px;
  }
  .product-footer__lead {
    font-size: 20px;
  }
  .widget {
    margin-top: 0;
  }
  .product-footer__title {
    font-size: 20px;
  }
  .product-footer__title {
    padding: 20px 0 20px 0;
  }
  .nav-tabs>li>a {
    font-size: 18px;
  }
  .nav-tabs>li>a {
    padding: 11px 17px;
  }
  .product-infoblock__advantages>ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .product-infoblock__advantages>ul>li {
    padding: 0;
    display: block;
    margin-top: 7px;
  }
  .product-infoblock__advantages>ul>li:before {
    display: none;
  }
  .product-infoblock__advantages>ul>li {
    font-size: 16px;
  }
  .product-infoblock__title>p:before {
    font-family: "pirk-siulyk" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    content: "\56";
    position: relative;
    left: 0;
    top: 15px;
    font-size: 54px;
  }
  .product-infoblock__title>p {
    font-size: 28px;
    padding-left: 59px;
    position: relative;
    text-align: center;
    display: block;
    padding-right: 0;
  }
  .product-infoblock__title i {
    display: none;
  }
  .product-block__panel__body {
    padding: 20px;
  }
  .product-block__timer {
    padding-left: 40px;
    max-width: 320px;
  }
  .product-block__timer>div:first-child {
    padding-right: 20px;
  }
  .breadcrumb {
    padding: 10px 0;
  }
  .product-block__top {
    padding: 20px;
  }
  .product-block__top__title,
  .product-block__top__title>h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .product-block__top__title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e8edf0;
  }
  .product-block__top__details {
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-block__top__details>ul>li:first-child {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .product-block__top__details>ul>li {
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-block__top__details>ul>li:before {
    display: none;
  }
  .product-block__top .city {
    float: none;
    padding-top: 11px;
  }
  .product-block__gallery__main {
    height: auto;
  }
  .product-block__gallery__nav {
    display: none;
  }
  .product-block__panel__body.has-border {
    padding-bottom: 10px;
  }
  .product-block__panel .text-muted {
    font-size: 15px;
  }
  .product-block__price {
    margin-bottom: 15px;
  }
  small.text-muted {
    font-size: 13px !important;
  }
  .product-block__slider-controls {
    padding-bottom: 20px;
  }
  .product-block__left {
    margin-bottom: 20px;
  }
  
  .form-group .col-md-4+.col-md-4,
  .form-group .col-md-5+.col-md-3 {
    margin-top: 10px;
  }
  .checkboxs-list .checkbox.prik-checkbox label {
    line-height: 17px;
  }
  .panel-title>a {
    font-size: 19px;
    padding: 20px 20px 20px 54px;
  }
  .panel-title .step-num {
    width: 30px;
    line-height: 23px;
    font-size: 20px;
    height: 30px;
    margin-top: -15px;
  }
  .panel-title .step-num {
    left: 14px;
  }
  .product__header .heading {
    text-align: center;
  }
  .product__header .heading>span {
    font-size: 17px;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }
  .step-panel__notice {
    max-width: 100%;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .step-panel__notice br {
    display: none;
  }
  .form-horizontal .form-group {
    margin-bottom: 10px;
  }
  .attachment-gallery__item:nth-child(2n) {
    margin-right: -4px;
  }
  .add-auction__paramets-block {
    height: auto;
  }
  .add-auction__paramets-block .pirk-control {
    margin-bottom: 10px;
  }
  .form-horizontal .pirk-label.col-md-12 {
    padding-bottom: 0px;
  }

  textarea.form-control.pirk-control {
    padding-top: 10px;
    font-size: 16px;
  }
  .panel-step .panel-body {
    padding: 20px;
  } 
  .checkboxs-list .checkbox.prik-checkbox {
    margin-bottom: 10px;
  }
  .panel-title>a:after {
    line-height: 60px;
  }
  .product-preview__body__value__single > div:first-child{
    font-size: 13px;
  }
  .modal-header .nav-tabs{
    width: 298px;
  }
  .success-text-ticket {  
    padding-left: 0;
    padding-top: 46px;
    font-size: 22px;
  }
  .success-text-ticket:before {
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
  }
  .checkout-row {
    margin-bottom: 0;
  }
  .page-title > h1{
    font-size: 30px;
  }
  .checkout-row > div{
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .checkout-panel__top > ul > li > a{
    padding-bottom: 10px;
  }
  .checkout-panel{
    padding: 20px;
  }
  .checkout-panel__top > ul{
    display: block;
  }
  .checkout-panel__top > ul > li{
    display: none;
    width: 100%;
  }
  .checkout-panel__top > ul > li.complete{
    display: block;
    margin-bottom: 10px;
  }
  .checkout-panel__top > ul > li.active{
    display: block;
  }
  .block-half-diveder{
    position: static;
    width: 100%;
    height: 1px;
    margin: 30px 0;
  }
  #sign-up-form .btn-group-dived > .btn, #sign-in-form .btn-group-dived > .btn{
    margin-right: 15px;
  }
  .product-infoblock__title > p{
    padding-left: 0;
  }
  .product-preview__checkout{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .checkout-left{
    margin-bottom: 30px;
  }
  .radiobox label{
    font-size: 16px;
  }

  .payments-list > div{
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 0;
    height: auto;
    display: table;
    width: 100%;
    height: 60px;
    text-align: left;
  }

  .payments-list > div > *{
    display: table-cell;
    vertical-align: middle; 
  }
  .payments-list > div > *:first-child{
    width: 81px;
    text-align: center; 
  }

  .banks-list > div{
    display: block;
    width: 100%;
    margin-right: 0;
  }

  .modal-body #forgot-password,
  .modal-boyd #sign-in-tab,
  .modal-body #sign-up-tab{
    max-width: 266px;
  }
}

@media(max-width: 600px){
  .home-page-search:before {
    background: url(./../images/home-page-illustration-xs.png);
    width: 282px;
    height: 67px;
  }

}