@media(min-width: 768px) and (max-width: 991px) {
  .home-search__block__form .btn.btn-default span {
    display: none;
  }
  .home-search__block__form>*:first-child+*+* {
    padding-left: 5%;
    width: 60px;
  }
  .home-search__block__form .btn.btn-default i { 
    top: 0;
  }
  .categories-list__nav>ul>li {
    width: 25%;
  }
  .block-title__slider-controls {
    top: 38%;
  }
  .product-preview__head__image>a img { 
    top: -15px;
  }
  .quickly-start-blocks-wrapper {
    display: block;
  }
  .quickly-start-blocks {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .quickly-start-blocks__desc {
    font-size: 17px;
    max-width: 395px;
    margin: auto;
    margin-bottom: 25px;
  }
  .quickly-start-blocks__desc br {
    display: none;
  }
  .subscribe__lead{
  	margin-left: 0; 
  	margin-bottom: 30px !important;
  }
  .subscribe .subscribe__lead, 
  .subscribe .subscribe__form{
  	display: block;
  	max-width: 510px;
  	margin: auto;
  }
  .subscribe__form > *:first-child{
  	width: 335px;
  }
  .footer__lead{
  	text-align: left;
  }
  .footer__socials{
  	padding-left: 0;
  }
  .modal-dialog{
    top: 15%;
  }
  .product-footer > div{
    display: block;
    width: 100% !important;
    margin-right: auto;
    margin-left: auto !important;
  }
  .widget__last-binds__item > div:first-child{
    width: 85px;
  }
  .widget{
    margin-top: 0;
  }
  .product-infoblock__advantages > ul > li{
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-infoblock__advantages{
    margin-bottom: 40px;
  }
  .product-block__left{
    width: 49%;
  }
  .product-block__right{
    width: 49%;
    margin-left: 2%;
  }
  .product-block__gallery__main{
    height: auto;
  }
  .product-block__gallery__nav{
    max-width: 240px;
  }
  .product-block__gallery__nav .slick-arrow.slick-next{
    right: -30px;
  }
  .product-block__gallery__nav .slick-arrow{
    left: -40px;
  }
  .product-block__gallery__nav{
    margin: 20px auto 55px auto;
  }
  .product-block__top.visible-sm{
    background: #fff;
    margin-bottom: 20px;
  }
  .product-block__top__details > ul > li{
    padding-right: 15px;
    padding-left: 15px;
  }
  #saller-data-sm .product-block__panel__body{
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  #saller-data-sm .product-block__panel__body > div{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #saller-data-sm .product-block__panel__body > div:last-child{
    border-left: 1px solid #e8edf0;
    padding-left: 40px;
  }
  .static-search__block__form > *:first-child{
    width: 80%;
  }
  .home-search__block__form > *:first-child + *{
    display: none;
  }
  .static-search__block__form .form-control{
        border: 1px solid #e8edf0;
  }
  .breadcrumb{
    padding: 10px 0;
  }
  .product-block__panel .text-muted{
    font-size: 14px;
  }
  .product-block__timer{
    padding-left: 70px;
  }
  .product-block__timer > div:first-child{
    padding-right: 25px;
  }
  .product-block__price{
    margin-bottom: 10px;
  }
  .product-block__panel__body.has-border{
    padding-bottom: 10px;
  }
  .categories-menu{
    max-width: 720px;
  }
  .step-panel__notice br{
    display: none;
  }
  .step-panel__notice{
    max-width: 100%;
    margin-bottom: 35px;
  }
  .checkout-row > div{
    display: block;
    width: 100%;
    margin-right: auto;
  }
  .checkout-row > div{
    margin-left: auto;
    margin-bottom: 20px;
  }
  .product-preview__checkout{
    display: table;
    width: 100%;
  }
  .product-preview__checkout > div{
    display: table-cell;
  }
  .product-preview__checkout > div:first-child{
    width: 50%;
  }
  .product-preview__head__image > a img{
    min-width: 200%;
    max-width: 200%;
    left: -50%;
  }
  .product-preview__total{
    padding-bottom: 0;
  }
  .checkout-row{
    margin-bottom: 0;
  }
  .product-preview__checkout{
    min-height: 0;
  }
  .product-preview__checkout .product-preview__title a{
    font-size: 20px;
  }
  .product-preview__checkout .product-preview__checkout .product-preview__body__value__single > div:first-child{
    font-size: 16px;
  }
  .product-preview__total{
    padding-bottom: 30px;
  }
  .product-infoblock__advantages__checkout{
    margin-bottom: 0;
  }
  .banks-list > div{
    width: 33.33%;
  }
}
