$green: #71b72c;
$dark-gray: #2e3448;
$black-gray: #222635;
$red-danger: #ed0a1f;
$blue: #00afeb;
$gray: #959595;
$gray-blue: #9cb6c9;
$gray-light: #8e9ab0;
$white: #fff;
$gray-blue: #eff4f7;
$gray-brand: #ebebeb;