$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower
// my assets
@import "variables";
@import "partials/header";
@import "partials/footer";
@import "partials/buttons";
@import "partials/product";
@import "partials/select";
@import "partials/modals";
@import "partials/colorbox";
@import "partials/tabs";
@import "partials/forms";
@import "partials/messages";
@import "partials/icons";
@import "partials/table";
@import "partials/utils";
@import "partials/categories";
@import "mixins/font-face";

// pirk icons
@font-face {
  font-family: "pirk-siulyk";
  src:url("#{$icon-font-path}pirk-siulyk.eot");
  src:url("#{$icon-font-path}pirk-siulyk.eot?#iefix") format("embedded-opentype"),
  url("#{$icon-font-path}pirk-siulyk.woff") format("woff"),
  url("#{$icon-font-path}pirk-siulyk.ttf") format("truetype"),
  url("#{$icon-font-path}pirk-siulyk.svg#pirk-siulyk") format("svg");
  font-weight: normal;
  font-style: normal;
}

// fonts
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-Thin",
100);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-ExtraLight",
200);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-Light",
300);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-Regular",
400);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-Medium",
500);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-SemiBold",
600);
@include font-face(Palanquin,
"#{$icon-font-path}Palanquin-Bold",
700);





body {
  font-family: "Palanquin";
  font-weight: 300;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

// subscurbe block
.subscribe {
  background: $gray-blue;
  padding: 52px 0;
}

.subscribe .subscribe__lead,
.subscribe .subscribe__form {
  display: inline-block;
  vertical-align: middle;
}

.subscribe__lead strong {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: $dark-gray;
}

.subscribe__lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $dark-gray;
  padding-left: 120px;
  margin-left: 90px;
  margin-right: 70px;
  position: relative;
}

.subscribe__lead:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -48px;
  width: 90px;
  height: 86px;
  font-family: "pirk-siulyk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  content: "\4b";
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 90px;
  color: #9cb6c9;
}

.subscribe__lead p {
  margin-bottom: 5px;
}

.subscribe__form {
  text-align: right;
  margin-right: 3%;
}

.subscribe__form>* {
  display: inline-block;
  vertical-align: top;
}

.subscribe__form>*:first-child {
  width: 280px;
}

.subscribe__form>*:last-child {
  width: 160px;
  margin-left: 10px;
}

.subscribe__form .form-control {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #e8edf0;
  background-color: #ffffff;
  padding: 15px 21px;
  height: 51px;
  color: #464646;
  font-size: 18px;
  font-weight: 400;
}

// quickly start blocks
.quickly-start-blocks-wrapper {
  display: table;
  width: 100%;
}

.quickly-start-blocks {
  display: table-cell;
  width: 50%;
  text-align: center;
  padding: 50px 0;
  background-size: cover !important;
}

.quickly-start-blocks__left {
  background: url(./../images/banner-left-bg.jpg) no-repeat center;
  margin-right: -15px;
}

.quickly-start-blocks__title {
  color: $white;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
}

.quickly-start-blocks__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #9cb6c9;
  margin-bottom: 26px;
}

.quickly-start-blocks__right {
  margin-right: -15px;
  background: url(./../images/banner-right-bg.jpg) no-repeat center;
}

.quickly-start-blocks__right .quickly-start-blocks__desc {
  color: $dark-gray;
}

.quickly-start-blocks__icon i {
  font-size: 68px;
}

.quickly-start-blocks__right .quickly-start-blocks__icon i {
  color: $dark-gray;
}

.quickly-start-blocks__left .quickly-start-blocks__icon i {
  color: $green;
}

// typography
.block-title {
  padding: 40px 0 30px 0;
  position: relative;
}

.page-title {
  padding-bottom: 20px;
}

.page-title>h1 {
  font-size: 44px;
  font-weight: 100;
  color: $dark-gray;
}

.text-danger {
  color: $red-danger;
  font-size: 16px;
  line-height: 24px;
}

.text-primary {
  color: #555555;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

article.article {
  color: #555555;
  font-size: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

article.article p {
  margin-top: 10px;
}

dt {
  color: #555555;
  font-weight: 400;
  font-size: 16px;
}

dd {
  color: #555555;
  font-size: 16px;
  font-weight: 600;
}

small.text-muted {
  font-size: 15px !important;
  color: #959595 !important;
}

.block-title__caption {
  font-size: 44px;
  font-weight: 100;
  color: $dark-gray;
  line-height: 43x;
}

.block-title__link {
  right: 0;
  top: 50%;
  margin-top: 0px;
  position: absolute;
}

.block-title__slider-controls {
  position: absolute;
  right: 0;
  top: 50%;
}

.categories-list__nav>ul {
  margin: 0;
  padding: 0;
}

.block-title__slider-controls>* {
  display: inline-block;
  vertical-align: middle;
}

.block-title__slider-controls .dots {
  margin-left: 20px;
  margin-right: 20px;
}

// additional btn's
.primary-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: $blue;
  padding-right: 24px;
}

.primary-link:hover,
.primary-link:focus {
  color: $green;
  text-decoration: none;
}

.primary-link:after {
  content: "\79";
  font-family: "pirk-siulyk" !important;
  font-size: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.gray-bg {
  background-color: $gray-blue;
  padding-bottom: 20px;
}

// slick slider 
.slick-dots {
  margin-bottom: 0;
}

.slick-dots>li {
  display: inline-block;
  list-style: none;
  margin-left: 4px;
  margin-right: 4px;
}

.slick-dots>li>button {
  overflow: hidden;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $white;
}

.slick-dots>li.slick-active>button {
  background: $green;
}

.slick-dots {
  margin: 0;
  padding: 0;
  margin-left: -4px;
  margin-right: -4px;
  padding-top: 11px;
}

.slick-arrow {
  padding: 0;
  border: none;
  width: 25px;
  height: 38px;
  ;
  overflow: hidden;
  position: relative;
  background: transparent;
  cursor: pointer;
}

.slick-arrow:before {
  display: block;
  position: absolute;
  content: "\78";
  font-family: "pirk-siulyk" !important;
  font-size: 30px;
  color: #8e9ab0;
}

.slick-arrow.sl-next:before {
  content: "\79";
}

// home search block
.home-search__block {
  max-width: 920px;
  margin: auto;
  background: $green;
  padding: 30px;
  border-radius: 4px;
  position: relative;
}

.home-page-search:before {
  content: '';
  display: block;
  height: 133px;
  margin: auto;
  margin-bottom: -4px;
  max-width: 559px;
  width: 100%;
  background-size: contain;
  background: url(./../images/home-page-illustration.png);
}

.home-search__block__form {
  display: table;
  width: 100%;
}

.home-search__block__form>* {
  display: table-cell;
  vertical-align: top;
}

.home-search__block__form>*:first-child {
  width: 52.3%;
}

.home-search__block__form>*:first-child+* {
  width: 29.7%;
}

.home-search__block__form>*:first-child+*+* {
  width: 17.4%;
}

.home-search__block__form .form-control {
  height: 50px;
  border-radius: 4px 0 0 4px;
  border-right: none;
  box-shadow: none;
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0 20px;
  border-color: transparent;
}

.home-search__block__form .prik-select__block {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #e8edf0;
}

.home-search__block__form .btn.btn-default {
  text-transform: uppercase;
  padding: 15px 28px;
}
 
.home-search__block__form .btn.btn-default i {
  top: 2px;
}

.menu-btn {
  cursor: pointer;
  background: $green;
  display: block;
  height: 49.8px;
  width: 50px;
  float: right;
  margin-right: -15px;
  margin-top: -13px;
  margin-bottom: -17px;
  text-align: center;
  line-height: 56px;
}

.menu-btn i {
  font-size: 24px;
  color: $white;
}

.dived {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.dived>.dived-text {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  background: #fff;
  position: relative;
  z-index: 1001;
  display: inline-block;
  text-align: center;
  padding: 0px 17px 0px 17px;
}

.dived hr {
  background: #ebebeb;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  border: none;
  z-index: 1000;
  top: 50%;
  margin-top: -1px;
}

// search block
.static-search__block__form {
  padding-top: 15px;
}

.static-search__block__form .form-control {
  border: 1px solid #e8edf0;
  border-right: none;
}

.static-search__block__form .prik-select__block {
  border: 1px solid #e8edf0;
}

.static-search__block__form .btn-default {
  padding: 0;
  display: block;
  width: 100%;
}

.static-search__block__form .btn-default i {
  top: 0;
  margin-right: 0;
}

.static-search__block__form>*:first-child {
  width: 67.3%;
}

.blue-gray-bg {
  background: #f0f4f8;
}

// breadcrumb
.breadcrumb {
  padding: 20px 0;
  margin-bottom: 0;
  background: transparent;
}

.breadcrumb>li>a,
.breadcrumb>li {
  color: $blue;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumb>li+li:before {
  content: "\76";
  font-family: "pirk-siulyk";
}

.breadcrumb>li+li:before {
  position: relative;
  bottom: -1px;
  font-size: 10px;
  color: #d7d7d7;
}


.breadcrumb>li a:hover i {
  text-decoration: none;
}

.breadcrumb>li i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

// Create auction page
.panel-heading {
  padding: 0;
}

.panel-default {
  border: none;
  box-shadow: none;
}

.panel-step .panel-body {
  padding: 30px;
}

.panel-step .panel-title>a:hover { 
  text-decoration: none;
}

.panel-title>a {
  color: #2e3448;
  font-size: 28px;
  font-weight: 300;
  text-decoration: none !important;
  background-color: #ffffff;
  position: relative;
  display: block;
  padding: 25px 30px 25px 76px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ebebeb;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 20px;
}

.panel-step.step-disabled .panel-title>a {
  color: #acacac;
}

.panel-step.step-disabled .panel-title .step-num {
  color: #acacac;
  border-color: #acacac;
}

.panel-title .step-num {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border: 2px solid #71b72c;
  background-color: rgba(255, 255, 255, 0);
  line-height: 30px;
  color: #71b72c;
  font-size: 24px;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
}

.panel-title>a:after {
  position: absolute; //content: "\4e";
  content: "\46";
  font-family: "pirk-siulyk" !important;
  right: 30px;
  font-size: 12px;
  top: 0;
  line-height: 80px;
  color: $blue;
  display: block;
}

.step-opened .panel-title>a:after {
  content: "\4e";
}

.step-disabled .panel-title>a:after {
  color: #d7d7d7;
}


.panel-title>a[aria-expanded="true"]:after {
  content: "\4e";
}



.pabel-step .panel-body>* {
  display: inline-block;
  vertical-align: top;
}

.step-panel__notice {
  max-width: 380px;
  margin: auto;
  margin-top: 10px;
  color: #8e9ab0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
}

.step-panel__notice:before {
  font-family: "pirk-siulyk" !important;
  content: "\59";
  display: block;
  text-align: center;
  font-size: 40px;
  color: #d7d7d7;
  margin-bottom: 20px;
}

.control-label {
  color: #555555;
  font-size: 16px;
  padding-top: 5px;
  font-weight: 400;
}

.form-control.pirk-control[disabled] {
  opacity: 0.5;
}

.form-control.pirk-control {
  max-height: 40px !important;
  border-radius: 4px;
  border: 1px solid #e8edf0;
  background-color: #ffffff;
  padding: 0 16px;
  color: #555555;
  font-weight: 400;
  font-size: 16px;
}

textarea.form-control.pirk-control {
  max-width: 100%;
  max-height: 999999999px !important;
  padding: 15px;
}

.panel-step .form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .pirk-label.col-md-12 {
  padding-bottom: 10px;
}

.hidden-no-cat {
  display: none;
}



/*
 * Attachments gallery
 */

.attachment-gallery__item {
  display: inline-block;
  width: 100px;
  height: 75px;
  position: relative;
  vertical-align: top;
  margin-right: 20px;
  background-color: #f6f6f6;
}

button.red-cross:focus {
  outline: none;
  opacity: .8;
}

button.red-cross {
  width: 20px;
  height: 20px;
  font-size: 13px;
  color: #fff;
  background: $red-danger;
  position: absolute;
  content: "\32";
  border-radius: 50%;
  font-family: "pirk-siulyk" !important;
  border: none;
  top: -5px;
  right: -5px;
  padding: 0;
}

button.red-cross:before {
  content: "\32";
  text-align: center;
  font-family: "pirk-siulyk" !important;
  margin-left: 1px;
}

.attachment-gallery__item__image {
  position: relative;
}

.attachment-gallery__item__image img {
  max-width: 100%;
  height: auto;
}

.attachment-gallery__loadmore-images {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  color: $blue;
  font-size: 44px;
  text-align: center;
  left: 0;
  border: 1px solid #e8edf0;
}

.attachment-gallery__loadmore-images:before {
  font-family: "pirk-siulyk" !important;
  content: "\33";
  line-height: 75px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}

.attachment-gallery__loadmore-images:hover {
  opacity: 0.8;
}

button#add-more-params {
  color: #00afeb;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  line-height: 20px;
  margin-bottom: 15px;
}

button#add-more-params:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "pirk-siulyk" !important;
  content: "\46";
  display: block;
  font-size: 12px;
}

.add-auction__paramets-block {
  margin-bottom: 10px;
  height: 40px;
  clear: both;
}

.prik-checkbox>*:focus {
  outline: none !important;
}

.checkbox.prik-checkbox label:focus {
  outline: none !important;
}

.checkbox.prik-checkbox label::after {
  color: #71b72c;
}

.checkbox.prik-checkbox label:before {
  border-color: #e8edf0;
}

.input-group-addon {
  background: transparent;
  border-color: #e8edf0;
  border-left: none;
  color: #acacac;
  font-size: 16px;
  font-weight: 400;
}

.input-group .pirk-control {
  border-right-color: transparent !important;
}

.group-input-block {
  display: table;
  width: 100%;
}

.group-input-block>* {
  display: table-cell;
}

.group-input-block>span {
  width: 22px;
  color: #acacac;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.group-input-block>div:last-child {
  padding-right: 0px;
}

.group-input-block>div {
  padding-right: 10px;
}

.group-input-block .form-control.pirk-control {
  padding: 0 5px;
}

.create-auction-container {
  max-width: 1270px;
  width: 100%;
}

#create-auction-accordion .panel-footer {
  display: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  margin-bottom: -10px;
}

#create-auction-accordion .collapse.in+.panel-footer {
  display: block;
}

.panel-footer .btn {
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: #71b72c;
  padding: 0;
  line-height: 50px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  border-color: transparent;
}

.text-danger {
  color: #e8192c;
}

.checkbox label:focus {
  outline: none !important;
}

.checkboxs-list .form-group {
  margin-bottom: 10px;
}

.checkboxs-list .input-group-addon {
  padding-left: 0 !important;
  padding-right: 8px !important;
}

.checkboxs-list .pirk-control {
  padding-left: 15px;
  padding-right: 0px;
}

#parametrs {
  margin-bottom: 9px;
}

@media(max-width: 766px) {
  .form-group .col-md-4+.col-md-4,
  .form-group .col-md-5+.col-md-3 {
    margin-top: 10px;
  }
  .checkboxs-list .checkbox.prik-checkbox label {
    line-height: 17px;
  }
}

.modal {
  text-align: center;
}


.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.page-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
}

.search-block {
  position: relative;
  z-index: 1000;
}

.success-text-ticket {
  color: #2e3448;
  padding-left: 56px;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  line-height: 20px;
}

.success-text-ticket:before {
  position: absolute;
  left: 0;
  line-height: 19px;
  color: #71b72c;
  font-size: 44px;
  font-family: pirk-siulyk!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-variant: normal!important;
  text-transform: none!important;
  content: "\67";
}

// checkout page
.checkout-row {
  margin-bottom: 100px;
}

.checkout-row>div {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.checkout-left {
  width: 71%;
}

.checkout-right {
  width: 26%;
  margin-left: 3%;
}

.checkout-panel {
  background-color: #ffffff;
  padding: 30px;
}

.checkout-panel__top>ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.checkout-panel__top>ul>li {
  display: table-cell;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  width: 33.33%;
}

.checkout-panel__top>ul>li>a {
  display: block;
  border-bottom: 2px solid $gray-brand;
  color: #c2c2c2;
  font-size: 18px; 
  font-weight: 400;
  padding-bottom: 20px;
}
.checkout-panel__top>ul>li.complete>a i{
  display: inline;
}
.checkout-panel__top>ul>li.active>a i{
  display: none;
}
.checkout-panel__top>ul>li>a i {
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  color: #c2c2c2;
  top: 2px;
  display: none;
}

.checkout-panel__top>ul>li.active>a {
  border-color: $blue;
  color: $dark-gray;
  font-size: 24px;
  font-weight: 600;
}

.checkout-panel__top>ul>li>a:hover,
.checkout-panel__top>ul>li>a:focus {
  text-decoration: none;
  opacity: 0.9;
}

.checkout-panel__top {
  margin-left: -10px;
  margin-right: -10px;
}

.checkout-panel__bottom>ul {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
}

.checkout-panel__bottom>ul>li {
  display: block;
  list-style: none;
}

.checkout-panel__bottom>ul>li>a {
  display: block;
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  color: #c2c2c2;
  border-bottom: 2px solid #ebebeb;
}

.block-half-diveder {
  position: absolute;
  display: block;
  width: 1px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ebebeb;
}

.checkout-footer {
  background: $dark-gray;
  padding: 49px 0 50px 0;
}

.product-infoblock__checkout .product-infoblock__title>p {
  background: $dark-gray;
}

.product-infoblock__checkout .product-infoblock__title>p span {
  color: #fff;
}

.product-infoblock__advantages__checkout>ul>li {
  color: #ffffff;
}

.checkout-form-group {
  display: none;
}

.form-group .text-default {
  line-height: 40px;
}

.visible {
  display: block;
}

.text-default {
  font-size: 15px;
  line-height: 22px;
  color: #464646;
  font-weight: 400;
}

.payments-list > div{
  display: inline-block;
  width: 23%;
  margin-right: 2.3%;
  border-radius: 4px;
  border: 2px solid #ebebeb;
  vertical-align: top;
  background-color: #ffffff;
  height: 120px;
  cursor: pointer;
  text-align: center;
  padding-top: 15px;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.payments-list > div.active{
  border-color: $blue;
}
.payments-list > div.active i{
  color: $blue;
}
.payments-list__method__icon i{
  font-size: 38px;
  color: #9cb6c9;
}
.payments-list > div:last-child{
  margin-right: -4px;
}
.payments-list__method__icon .icon-bank-transfer-euro{
  font-size: 48px;
}

// payments
.payment-method-details{
  display: none;
}
.banks-list > div{
  display: inline-block;
  margin-right: -5px;
  margin-bottom: -1px;
  border: 1px solid  #ebebeb;
  width: 25%;
  position: relative;
  height: 82px;
  vertical-align: top;
}

.banks-list > div label{
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 87px;
  text-align: center;
}

.banks-list i{
 display: inline-block;
  background: url('./../images/banks.png') no-repeat 0 -1px;
  position: relative;
}

i.icon-swedbank{
  background-position:  0 -1px;
  width: 125px;
  height: 28px;
}

i.icon-seb{
  background-position:  -229px -1px;
  width: 65px;
  height: 28px;
}

i.icon-dnb{
  background-position:  -430px 0;
  width: 60px;
  height: 30px;
}

i.icon-nordea{
  background-position:  -603px -1px;
  width: 118px;
  height: 27px;
}

i.icon-danske{
  background-position:  -3px -86px;
  width: 120px;
  height: 19px;
}

i.icon-citadele{
  background-position:  -222px -80px;
  width: 80px;
  height: 30px;
  top: 2px;
}

i.icon-siaulin{
  background-position: -403px -83px;
  width: 120px;
  height: 23px;
}

i.icon-medicinos{
  background-position:  -601px -91px;
  width: 120px;
  height: 8px;
  top: -6px;
}

i.icon-lku{
  background-position:  -21px -157px;
  width: 86px;
  height: 35px;
}

// cards
.supported-cards{
  margin: 0;
  padding: 0;
  margin-left: -5px;
  margin-bottom: 40px;
}
.supported-cards li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.supported-cards li i{
  display: inline-block;
  background: url('./../images/cards.png') no-repeat;
}

.visa-icon{
  background-position: 0 0;
  width: 96px;
  height: 60px;
}

.visa-electron-icon{
  background-position: -116px 0 !important;
  width: 96px;
  height: 60px;
}

.mastercard-icon{
  background-position: -232px 0 !important;
  width: 96px;
  height: 60px;
}

.maestro-icon{
  background-position: -348px 0 !important;
  width: 96px;
  height: 60px;
}

.american-express-icon{
  background-position: -464px 0 !important;
  width: 96px;
  height: 60px;
}
.what-is{
  color: #8e9ab0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px; 
}
.popup-from-btn{
  position: absolute;
  top: 0;
  left: -9999999999px;
  border-radius: 4px;
  border: 2px solid #ebebeb;
  background-color: #f3f8fb;
  padding: 32px;
}
.form-group .what-is{
  line-height: 40px;
}
.what-is i{ 
  position: relative;
  top: 2px;
  cursor: pointer;
  margin-right: 5px;
}
.checkout-panel__body__has-message{
  margin: 0 -10px; 
}
.checkout-panel__body h3{
  color: $dark-gray;
  padding-bottom: 13px;
}
.checkout-panel__body{
  font-size: 15px;
}
.checkout-panel__body dd{
  line-height: 30px;
  color: #464646;
}
// after this can not be nothing
@import "tablets";
@import "mobiles";
