.btn {
  padding: 0 14px;
  line-height: 16px;
  font-size: 16px;
}

.btn.btn-link.btn-default {
  color: $gray-light;
  line-height: 34px;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
  text-decoration: none;
  background: transparent;
  border-color: transparent;
  color: $green;
}

.btn i {
  margin-right: 9px;
  position: relative;
  top: 2px;
}

.btn.btn-transparent {
  border-radius: 4px;
  border: 2px solid $green;
  background: transparent;
  color: $green;
  padding: 8px 10px;
  box-shadow: none;
  transition: all 0.2s linear;
}

.btn.btn-lg.btn-transparent {
  padding: 10px 10px 15px 10px !important;
  height: auto !important;
}

.btn.btn-lg.btn-transparent i {
  font-size: 19px;
  top: 4px;
}

.btn.btn-transparent:hover,
.btn.btn-transparent:focus {
  background: $green;
  color: $white;
}

.btn.btn-success {
  height: 50px;
  border-radius: 4px;
  background: $green;
  border-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.btn.btn-success.btn-lg {
  padding: 15px 30px;
  line-height: 17px;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
  background: $blue;
  border-color: $blue;
}

.btn.btn-default {
  border-radius: 4px;
  background: $dark-gray;
  border-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
  color: $white;

  font-weight: 500;
}

.btn.btn-default.btn-lg {
  padding: 13px 30px 16px 30px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #44536a !important;
  color: #fff !important;
}

.btn.btn-rounded {
  border-radius: 20px;
}

.btn.btn-add {
  background: $green;
  padding: 11px 20px 12px 20px;
  color: #ffffff;
}

.btn.btn-add i {
  font-size: 14px;
}

.btn.btn-add:hover,
.btn.btn-add:focus {
  background: $blue;
}

.btn-link-primary {
  color: $gray-light;
  padding: 8px 10px;
}

.btn-link-primary:hover {
  color: $green;
}

.btn-group-dived>.btn {
  margin-right: 30px;
}

.btn-group.btn-group-dived>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 4px;
}

.btn-social {
  padding: 16px 11px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.btn-facebook {
  background-color: #48629a;
}

.btn-facebook i {
  font-size: 18px;
}

.btn-google i {
  font-size: 24px;
}

.btn-google {
  background-color: #d94a3f;
  border-radius: 4px !important;
}

.btn-facebook {
  padding-left: 33px;
}

.btn-google {
  padding-left: 45px;
}

.btn-google:before {
  position: absolute;
  left: 15px;
  margin-top: 1px;
  font-size: 18px;
  content: "\70";
  font-family: "pirk-siulyk" !important;
}

.btn-facebook:before {
  position: absolute;
  left: 9px;
  font-size: 18px;
  content: "\6e";
  font-family: "pirk-siulyk" !important;
}

.btn-social:hover,
.btn-social:focus {
  color: #fff;
}

.btn-group.btn-group-dived>.btn:last-child {
  margin-right: 0;
}

.btn.btn-xs {
  font-size: 16px;
  line-height: 15px;
  padding: 7px 20px 8px 20px;
}

.categories-btn {
  background: transparent;
  border: none;
  padding-left: 73px;
  text-align: left;
  color: $blue;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
  border-left: 1px solid #e8edf0;
  border-right: 1px solid #e8edf0;
  transition: all 0.3s linear;
}

.categories-btn:before {
  font-family: "pirk-siulyk";
  content: "\4d";
  position: absolute;
  left: 35px;
  top: 0;
  font-size: 34px;
  line-height: 80px;
}

.categories-btn:after {
  font-family: "pirk-siulyk";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\6a";
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 19px;
  line-height: 80px;
}

.categories-btn:hover,
.categories-btn:focus,
.categories-btn.active {
  background: $dark-gray;
  color: #00afeb;
}

.btn.btn-bind {
  height: auto;
  padding: 8px 0 15px 0 !important;
}

.btn.btn-bind {
  padding: 0;
}

.btn.btn-bind i {
  font-size: 24px;
  line-height: 18px;
  top: 4px;
}

.btn-link.btn-link-default {
  color: $blue;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.btn-link.btn-link-default.btn-lg {
  font-size: 18px;
}

.btn-link.btn-link-default.btn-down:after {
  transform: rotate(90deg);
}

.btn-link.btn-link-default.btn-up:after {
  transform: rotate(270deg);
}

.btn-link.btn-link-default:after {
  content: "\76";
  font-family: "pirk-siulyk";
  position: absolute;
  right: -21px;
  top: 2px;
  font-size: 12px;
  line-height: 20px;
}
.btn-list > .btn.btn-lg{
    padding: 16px 0 16px 0;
}
.btn-list{
  display: table;
  width: 100%;
  text-align: center;
}
.btn-list > .btn{
  display: table-cell;
  width: 45%;
  padding-left: 0;
  padding-right: 0;
}
.btn-list > .btn{
  margin-right: 5%;
}
.btn-list > .btn:last-child{
  margin-right: 0;
}

.btn-list .btn-default{
  background-color: #d7d7d7;
  color: #555555;
}

.btn-close-modal{
  background: transparent;
  border: none;
  color: #8e9ab0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  padding-left: 22px;
  position: relative;
}
.btn-close-modal:before{
  font-family: "pirk-siulyk" !important;
  content: "\66";
  position: absolute;
  left: 0;
  font-size: 14px;
}
.btn-close-modal:hover{
  color: $red-danger;
}

.btn-close {
    color: #8e9ab0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    padding: 0;
    background: transparent;
    padding-left: 22px;
    position: relative;
}

.btn-close:before {
    position: absolute;
    left: 0;
    line-height: 21px;
    color: #8e9ab0;
    font-size: 14px;
    font-family: pirk-siulyk!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    content: "\66";
}

.btn.btn-go-back{
  color: $gray-light;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
  position: relative;
}
.btn.btn-go-back:hover:before{
  color: $green;
}
.btn.btn-go-back:before{
  position: absolute;
  heigh: 100%;
  left: 0;
  top: 0;
  line-height: 20px;
  color: $gray-light;
  content: "\75";
  font-family: "pirk-siulyk" !important;
  font-size: 12px;
}

.btn-back{
  padding: 15px 30px;
  border-radius: 4px;
  border: 2px solid #ebebeb;
  background-color: #ffffff;
  line-height: 17px;
  color: #c2c2c2;
}
.btn-back.btn-link{
  padding:0;
  border-color: transparent;
}
.btn-back:hover{
  color: $green;
  border-color: $green;
}