// categoris list
.categories-list{
	padding: 31px 0 39px 0;
}

.categories-list__lead{ 
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 29px;
  color: $gray-light;
  margin-bottom: 42px;
}

.categories-list__nav > ul > li{
	display: inline-block;
	width: 14.2%;
	vertical-align: top;
	margin-right: -4px;
	list-style: none;
	text-align: center;
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 40px;
}
.categories-list__nav > ul > li > a{
	color: #355668;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
}
.categories-list__nav > ul > li > a i{
	font-size: 48px;
}
.categories-list__nav > ul > li > a > div{
	height: 60px;
}
.categories-list__nav > ul > li > a:hover,
	.categories-list__nav > ul > li > a:focus{
	color: $green;
	text-decoration: none;
}

.categories-list__nav > ul > li > a[href="#load-cats"]{
	color: $blue;
}
.categories-list__nav > ul > li > a[href="#load-cats"]:hover{
	color: $green;
}