.footer {
  background: $dark-gray;
}

.footer__top {
  padding: 39px 15px 40px 15px;
}

.footer__statistic__facts {
  color: $gray-blue;
  line-height: 28px;
}

.footer__statistic__facts p {
  margin-bottom: 0;
}

.footer__statistic__facts strong {
  color: $green;
}

.footer__statistic__facts i {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.footer__logo {
  padding-bottom: 12px;
}

.footer__nav {
  margin: 0;
  padding: 0;
}

.footer__nav>li {
  padding-bottom: 5px;
  list-style: none;
}

.footer__nav>li>a {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}

.footer__nav>li>a:hover,
.footer__nav>li>a:focus {
  text-decoration: none;
  color: $green;
}

.footer__lead {
  color: $gray-blue;
  font-size: 24px;
  line-height: 20px;
  font-weight: 100;
  padding-bottom: 20px;
  text-align: right;
}

.footer__socials {
  margin: 0;
  padding: 0;
}

.footer__socials>li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.footer__socials>li a {
  font-size: 18px;
  color: $white;
}

.footer__socials>li a:hover {
  text-decoration: none;
}

.footer__socials>li a i.icon-facebook:hover {
  color: #4264a9;
}

.footer__socials>li a i.icon-twitter:hover {
  color: #56adf2;
}

.footer__socials>li a i.icon-google-plus:hover {
  color: #e04c3a;
}

.footer__bottom {
  background: $black-gray;
  padding: 18px 0;
}

.footer__bottom .text-muted {
  font-size: 14px;
  font-weight: 400;
  color: $gray;
  margin-bottom: 0;
}

.powered-by {
  margin-bottom: 0;
  text-align: right;
}

.powered-by>li {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  color: $gray;
}

.powered-by>li:first-child {
  padding-right: 30px;
  padding-bottom: 3px;
}

.powered-by i {
  color: #484848;
  font-size: 8px;
  text-transform: uppercase;
}

.powered-by i.wee,
.powered-by i.fixual {
  opacity: 0.3;
  transition: all 0.3 linear;
}

.powered-by i.wee:hover,
.powered-by i.fixual:hover {
  opacity: 1;
}

i.wee {
  background: url('./../images/powered-by.svg') no-repeat 0 0;
  width: 50px;
  height: 19px;
  display: inline-block;
}

i.fixual {
  background: url('./../images/powered-by.svg') no-repeat -85px -4px;
  width: 96px;
  height: 12px;
  display: inline-block;
}

.footer__socials {
  padding-left: 28%;
}

@media(max-width: 767px) {
  .footer__bottom .text-muted {
    text-align: center;
  }
  .powered-by {
    padding-top: 14px;
    text-align: center;
  }
  .powered-by>li:first-child {
    padding: 0;
    display: block;
    text-align: center;
  }
  .footer__lead {
    text-align: center;
    color: #9cb6c9;
    padding-bottom: 14px;
  }
  .footer__socials {
    padding-left: 0;
    text-align: center;
  }
  .footer__top {
    padding: 29px 0 20px 0;
  }
  .footer__nav {
    text-align: center;
    padding: 20px 0;
  }
  .footer__statistic__facts {
    text-align: center;
    padding: 20px 0;
  }
  .footer__logo img {
    max-width: 100%;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__top>.row>div {
    border-bottom: 1px solid #3e4456;
  }
  .footer__top>.row>div:last-child {
    border-bottom-color: transparent;
  }
  .footer__lead {
    padding-top: 20px;
  }
}
