.form-control {
  height: 50px;
  box-shadow: none;
  border-radius: 4px;
  padding: 0 20px 0 20px;
  border: 1px solid #e8edf0;
  font-size: 18px;
  font-weight: 400;
}

.form-control:focus {
  box-shadow: none;
  border-color: $blue;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}

.form-group {
  margin-bottom: 20px;
}

.form-group .btn {
  display: block;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.checkbox input {
  display: none;
}

.checkbox label {
  position: relative;
  color: #464646;
  font-size: 17px;
  font-weight: 400;
  padding-left: 34px;
  line-height: 24px;
}

.checkbox {
  margin-bottom: 0;
  margin-top: 0;
}

.checkbox label:before {
  content: "";
  left: 0;
  position: absolute;
  border-radius: 4px;
  border: 2px solid #e8edf0;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  display: block;
}

.checkbox input[type="checkbox"]:checked+label:after {
  content: "\67";
  font-family: "pirk-siulyk" !important;
  color: $green;
  font-size: 17px;
  line-height: 24px;
  position: absolute;
  left: 4px;
}

.checkbox+.btn-link {
  padding-left: 0;
  color: $blue;
  padding-top: 9px;
  font-size: 14px;
  padding-bottom: 9px;
}

.currency-addon {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  color: $dark-gray;
  margin-left: 16px;
  line-height: 46px;
}

.currency-addon+.form-control {
  padding-left: 40px;
  padding-bottom: 7px;
  color: #acacac;
  font-size: 24px;
}

.form-group.no-offset {
  margin-bottom: 0;
}

.form-group .btn.btn-link {
  display: inline-block;
  width: auto;
}

// radioboxes
.radioboxes-list li {
  list-style: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

.radioboxes-list ul {
  margin: 0;
  padding: 0;
}

// radiobox
.radiobox input {
  display: none;
}

.radiobox label {
  font-weight: 400;
  color: #464646;
  font-size: 18px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

.radiobox label:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 2px solid #e8edf0;
  background-color: #ffffff;
  content: '';
  border-radius: 50%;
  cursor: pointer;
}

.radioboxes-list__delivery>ul {
  margin-top: -10px;
}

.radioboxes-list__delivery>ul>li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.radioboxes-list__delivery .radiobox label {
  display: table;
  width: 100%;
}

.radiobox label>span {
  display: table-cell;
}

.radiobox label>span:last-child {
  width: 15%;
  color: #464646;
  text-align: right;
  font-weight: 500;
}

.radiobox label:after {
  width: 10px;
  content: '';
  display: block;
  position: absolute;
  left: 7px;
  border-radius: 50%;
  top: 50%;
  margin-top: -5px;
  opacity: 0;
  transition: all 0.1s linear;
  height: 10px;
  background-color: $green;
}

.radiobox input[type="radio"]:checked+label:after {
 opacity: 1;
}

.form-group>.text-muted {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
}

// excudes
#sign-up-form,
#sign-in-form {
  max-width: 260px;
  margin: auto;
}

#sign-up-form .btn-group-dived>.btn,
#sign-in-form .btn-group-dived>.btn {
  margin-right: 20px;
}

#sign-up-form .btn-group-dived>.btn:last-child,
#sign-in-form .btn-group-dived>.btn:last-child {
  margin-right: -4px;
}

.group-title {
  color: $dark-gray;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

span.require {
  color: $green;
}

.checkout-form-group input.form-control,
.checkout-form-group select.form-control,
.payment-method-details input.form-control,
.payment-method-details select.form-control {
  height: 40px;
  font-size: 16px;
}

textarea.form-control {
  padding-top: 8px;
}

.payment-method-details .radiobox label{
  padding-left: 20px;
}