.header{
	padding-top: 11px;
	padding-bottom: 7px;
	background: $dark-gray;
}

.header .header__top{
	margin-bottom: 0;
}

.header__user-bar > ul{
	margin-bottom: 0;
	text-align: right;
}

.header__user-bar .btn .icon.icon-plus{
	font-size: 12px;
	top: 1px;
}
.header .header__top .btn-add.btn-xs{
	margin-top: -3px;
	margin-left: -15px;
}

.header .header__user-bar{
	margin-top: -4px;
}
.header a[data-target="#sign-modal"]{
	margin-top: 2px;
	color: $green;
}
.header.header__home .header__user-bar{
	margin-top: 0;
}
.header__home{
	background: url(./../images/home-page_gardient.jpg) no-repeat top center;
	background-size: cover;
	height: 449px;
	padding-top: 30px;	
}

.header__home .header__top{
	margin-bottom: 40px;
}

.header__home + .home-page-search{
	margin-top: -180px;
}

.welcome-text{
	font-size: 44px;
	color: $dark-gray;
	font-weight: 700;
	min-height: 63px;
}

@media(max-width: 767px){
	.welcome-text{
		font-size: 34px;
	}
	.header__top{
		margin-bottom: 30px;
	}
	.header__top + .row{
		padding-top: 80px;
	}
	.header{
		padding: 0px 0;
	}
	.header__top{
		padding: 10px 0;
		background: $dark-gray;
		position: fixed;
    	width: 100%;
    	z-index: 1111;
	}
	.header__logo img{
		max-width: 140px;
	}
	.header__home{
		height: 450px;
	}
}