[data-icon]:before {
  font-family: "pirk-siulyk" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pirk-siulyk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\61";
}
.icon-power-off:before {
  content: "\62";
}
.icon-sign-out:before {
  content: "\63";
}
.icon-user:before {
  content: "\64";
}
.icon-key:before {
  content: "\65";
}
.icon-close:before {
  content: "\66";
}
.icon-check:before {
  content: "\67";
}
.icon-search:before {
  content: "\68";
}
.icon-clock:before {
  content: "\69";
}
.icon-caret-down:before {
  content: "\6a";
}
.icon-caret-left:before {
  content: "\6b";
}
.icon-caret-right:before {
  content: "\6c";
}
.icon-caret-up:before {
  content: "\6d";
}
.icon-facebook:before {
  content: "\6e";
}
.icon-twitter:before {
  content: "\6f";
}
.icon-google-plus:before {
  content: "\70";
}
.icon-home:before {
  content: "\71";
}
.icon-envelope:before {
  content: "\72";
}
.icon-armchair:before {
  content: "\73";
}
.icon-arrow-down:before {
  content: "\74";
}
.icon-arrow-left:before {
  content: "\75";
}
.icon-arrow-right:before {
  content: "\76";
}
.icon-arrow-thin-down:before {
  content: "\77";
}
.icon-arrow-thin-left:before {
  content: "\78";
}
.icon-arrow-thin-right:before {
  content: "\79";
}
.icon-arrow-thin-up:before {
  content: "\7a";
}
.icon-arrow-up:before {
  content: "\41";
}
.icon-auction:before {
  content: "\42";
}
.icon-hammer:before {
  content: "\43";
}
.icon-house:before {
  content: "\44";
}
.icon-laptop:before {
  content: "\45";
}
.icon-plus:before {
  content: "\46";
}
.icon-tablet:before {
  content: "\47";
}
.icon-box:before {
  content: "\48";
}
.icon-car:before {
  content: "\49";
}
.icon-cart-line:before {
  content: "\4a";
}
.icon-envelope-email:before {
  content: "\4b";
}
.icon-fridge:before {
  content: "\4c";
}
.icon-grid-circles:before {
  content: "\4d";
}
.icon-minus:before {
  content: "\4e";
}
.icon-pin-outline:before {
  content: "\4f";
}
.icon-pin:before {
  content: "\50";
}
.icon-star:before {
  content: "\51";
}
.icon-star-o:before {
  content: "\52";
}
.icon-return:before {
  content: "\53";
}
.icon-padlock:before {
  content: "\54";
}
.icon-pin-box:before {
  content: "\55";
}
.icon-shield-check:before {
  content: "\56";
}
.icon-hierarchy:before {
  content: "\57";
}
.icon-adjust:before {
  content: "\58";
}
.icon-info:before {
  content: "\59";
}
.icon-pencil:before {
  content: "\5a";
}
.icon-trash:before {
  content: "\30";
}
.icon-trash-o:before {
  content: "\31";
}
.icon-times:before {
  content: "\32";
}
.icon-plus-image:before {
  content: "\33";
}
.icon-image:before {
  content: "\34";
}
.icon-laptop-euro:before {
  content: "\35";
}
.icon-paypal:before {
  content: "\36";
}
.icon-credit-card:before {
  content: "\37";
}
.icon-bank-transfer-euro:before {
  content: "\38";
}
.icon-banknotes-euro:before {
  content: "\39";
}
.icon-question-circle:before {
  content: "\21";
}