/* success message */
.success-message{
  background: #fff;
  position: relative;
  max-width: 320px;
  margin: auto;
  padding: 67px 20px 20px 20px;
  margin-bottom: 20px;
}
.success-message__lg{
  max-width: 100%;
}
.success-message a{
  color: $blue;
}
.success-message:before{
     content: "\67";
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    color: #71b72c;
    font-family: "pirk-siulyk" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}
.success-message__title{
  margin-bottom: 0;
  color: #2e3448;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
  text-align: center;
}
.success-message__content{
  margin-bottom: 20px;
}
.success-message__content{
  color: #464646;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.success-message__content a{
  color: #464646;
  font-weight: 600;
}

.success-message__content .blue-link{
  color: $blue;
}