body.modal-open #main {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.modal-content {
  box-shadow: none;
  border: none !important;
  border-color: transparent;
  border-radius: 0;
}

.modal-backdrop.in{
  opacity: 1;
}

.modal-header-has-tabs {
  padding: 0;
  margin: 0;
  height: 0;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-header-has-tabs + .close {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  top: -81px;
  right: 0;
}

.close{
	text-shadow: none;
	opacity: 1;
}

.modal-title{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  color: $dark-gray;
  padding-bottom: 12px;
  padding-top: 15px;
}

.modal-body-success{
  padding-top: 52px;
  position: relative;
}

.modal-body-success:before{
    content: "\67";
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    color: $green;
    font-family: "pirk-siulyk" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}

#sign-modal .modal-dialog,
#sign-in-modal .modal-dialog{
  margin: 98px auto;
}