.product-preview {
  display: block;
  background: $white;
  min-height: 349px;
  height: 349px;
  position: relative;
  border: 1px solid #e8edf0;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.product-preview__head {
  position: relative;
  height: 160px;
  overflow: hidden;
}

.product-preview__head__timer:empty {
  display: none;
}

.product-preview__head__timer {
  position: absolute;
  left: 0;
  top: 0;
  background: $dark-gray;
  z-index: 999;
  width: 120px;
  color: $white;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 30px;
  line-height: 30px;
}

.product-preview__head__timer:before {
  position: absolute;
  content: "\69";
  font-family: "pirk-siulyk";
  font-size: 14px;
  left: 10px;
  top: 50%;
  margin-top: -15px;
}

.product-preview__head__image>a {
  display: block;
}

.product-preview__head__timer-danger {
  background: $red-danger;
}

.product-preview__head__image>a img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 150%;
  height: auto;
  min-width: 105%;
}

.product-preview__body {
  padding: 18px;
  height: 138px;
  overflow: hidden;
}

.product-preview__title {
  height: 39px;
}

.product-preview__title a {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: $dark-gray;
}

.product-preview__title a:hover,
.product-preview__title a:focus {
  text-decoration: none;
  opacity: 0.7;
}

.product-preview__body__value__single {
  display: table;
  width: 100%;
  margin-bottom: 7px;
}

.product-preview__body__value__single>div {
  display: table-cell;
}

.product-preview__body__value__single>div:first-child {
  width: 70%;
  color: #959595;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.product-preview__body__value__single>div:first-child+div {
  width: 30%;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  color: $dark-gray;
}

.product-preview__body__value__single .text-success {
  color: $green !important;
}

.product-preview__footer {
  display: table;
  width: 100%;
  padding: 11px 20px;
  border-top: 1px solid #e8edf0;
}

.product-preview__footer>div {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.product-preview__footer .text-muted {
  color: #959595;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}

.product-preview__link {
  text-align: right;
}

.product-preview__link>a {
  text-decoration: none;
  color: $blue;
  padding-right: 19px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.product-preview__link>a:after {
  content: "\79";
  font-family: "pirk-siulyk" !important;
  font-size: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
}

.product-preview__link>a:hover,
.product-preview__link>a:focus {
  color: $green;
}

// product preview checkout
.product-preview__checkout .product-preview__head{
  height: 180px;
}
.product-preview__checkout .product-preview__body{
  padding: 30px;
}
.product-preview__checkout .product-preview__title{
  border-bottom: 1px solid #ebebeb;
  height: 65px;
}
.product-preview__checkout .product-preview__body__values{
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.product-preview__checkout .product-preview__body__value__single > div:first-child{
  font-size: 16px;
  color: #8e9ab0;
}
.product-preview__checkout .product-preview__body__value__single > div:first-child + div{
  font-size: 18px;
  color: #8e9ab0;
  font-weight: 400;
}
.product-preview__checkout .product-preview__body{
  height: auto;
}
.product-preview{
  height: auto;
}
.product-preview__total{
  padding: 0 30px;
  padding-bottom: 30px;
}
.product-preview__total{
  display: table;
  width: 100%;
}
.product-preview__total > *{
  display: table-cell;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #2e3448;
}
.product-preview__total > *:last-child{
  font-size: 30px;
  text-align: right;
}
// product page
.product-block>div {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.product-block__left {
  width: 62.5%;
  background: $white;
}

.product-block__top {
  padding: 30px;
}

.product-block__top .city{
  float: right;
}

.product-block__top__title,
.product-block__top__title>h1 {
  color: #2e3448;
  font-size: 28px;
  font-weight: 600;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.product-block__top__title {
  padding-bottom: 21px;
}

.product-block__top__details>ul {
  padding: 0;
  margin: 0;
  margin-left: -20px;
}

.product-block__top__details>ul>li {
  list-style: none;
  display: inline-block;
  color: #959595;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.product-block__top__details>ul>li:first-child {
  color: $dark-gray;
  font-size: 18px;
  text-transform: uppercase;
}

.product-block__top__details>ul>li:first-child:before {
  display: none;
}

.product-block__top__details>ul>li:before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background-color: #e1e1e1;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
}

.city {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: $dark-gray;
  position: relative;
  padding-left: 30px;
}

.city:before {
  position: absolute;
  left: 0;
  font-size: 24px;
  line-height: 20px;
  color: $green;
  content: "\50";
  font-family: "pirk-siulyk";
}

.product-block__gallery__main {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.product-block__gallery__main .slick-slide img,
.product-block__gallery__nav .slick-slide img {
  max-width: 100%;
  height: auto;
}

.product-block__gallery__nav {
  max-width: 580px;
  margin: 20px auto 55px auto;
}

.product-block__gallery__nav__img {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  width: 100px;
  height: 75px;
}

.product-block__gallery__nav__img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 120%;
  height: auto;
}

.product-block__gallery__nav .slick-arrow {
  position: absolute;
  left: -55px;
  top: 0;
  line-height: 70px;
  height: 75px;
  text-indent: -999999px;
}

.product-block__gallery__nav .slick-arrow.slick-next {
  left: auto;
  transform: rotate(180deg);
  right: -55px;
}

.slick-arrow:before {
  text-indent: 0px;
}

.product-block__right {
  width: 34.1%;
  margin-left: 3.4%;
}

.product-block__panel {
  background: $white;
  margin-bottom: 30px;
}

.product-block__panel__body {
  padding: 25px 30px 25px;
}

.product-block__panel__body.has-border {
  border-bottom: 1px solid #e8edf0;
  padding-bottom: 21px;
}

.product-block__panel .text-muted {
  color: #959595;
  font-size: 15px;
  line-height: 20px;
}

.product-block__panel .text-muted strong {
  font-weight: 600;
}

.product-block__panel .text-muted i {
  margin-right: 7px;
  font-size: 12px;
  color: #d7d7d7;
}

.product-block__price {
  width: 100%;
  display: table;
}

.product-block__price {
  margin-bottom: 20px;
}

.product-block__price>* {
  display: table-cell;
  color: #959595;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.product-block__price>*:last-child {
  text-align: right;
  color: $dark-gray;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
}

.product-block__price>.text-success {
  color: $green;
}

.text-muted a,
.text-muted a i {
  color: $green !important;
  margin-right: 0 !important;
}

.product-block__prices>div.last-child {
  margin-bottom: 0;
}

.product-block__prices .text-muted {
  margin-bottom: 0;
}

.product-block__balance {
  margin: 15px 0;
}

.product-block__balance strong {
  color: $dark-gray;
  font-size: 18px;
}

// saler block
.product-block__saler {
  margin-bottom: 10px;
}

.product-block__saler>div {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.product-block__saler__avatar {
  width: 60px;
  height: 60px;
  background-color: #ebebeb;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #c2c2c2;
  font-size: 36px;
}

.product-block__saler__data {
  margin-left: 9px;
}

.product-block__saler__data__name {
  margin-bottom: 5px;
}

.product-block__saler__data__name>a {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: $dark-gray;
}

.product-block__saler__data__name>a:hover,
.product-block__saler__data__name>a:focus {
  text-decoration: none;
  color: $green;
}

.product-block__saler__data__stars {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 18px;
}

.product-block__saler__data__stars i {
  color: #cccccc;
}

.product-block__saler__data__stars i.gold {
  color: #ffaf02;
}

.product-block__saler__data__stars span {
  font-size: 18px;
  color: #959595;
  position: relative;
  top: -4px;
  line-height: 20px;
  padding-left: 7px;
}

.product-block__timer {
  display: table;
  width: 100%;
  padding-left: 84px;
  position: relative;
}

.product-block__timer:before {
  font-family: "pirk-siulyk" !important;
  content: "\69";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  line-height: 28px;
  color: #d7d7d7;
}

.product-block__timer>div {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 25%;
}
.product-block__timer>div:first-child{
  padding-right: 40px;
}
.product-block__timer>div:first-child:after{
  display: none;
}

.product-block__timer>div:last-child:after {
  display: none;
}

.product-block__timer>div:after {
  content: ":";
  color: #d7d7d7;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
}

.product-block__timer>div span {
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  color: $dark-gray;
}

.product-block__timer>div>p {
  color: #959595;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


// infoblock
.product-infoblock__title{
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.product-infoblock__title hr{
  position: absolute;
  width: 100%;
  height: 1px;
  border-color: #d7d7d7;
  top: 50%;
  margin-top: 5px;
  z-index: 1000;
}
.product-infoblock__title > p{
  position: relative;
  z-index: 1001;
  display: inline-block;
  background: #f0f4f8;
  color: $green;
  font-size: 36px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 25px;
}
.product-infoblock__title > p span{
  color: $dark-gray;
  font-weight: 700;
}
.product-infoblock__title > p i{
  font-size: 46px;
  margin-right: 12px;
  position: relative;
  top: 7px;

}

.product-infoblock__advantages{
  margin-bottom: 20px;
}

.product-infoblock__advantages > ul{
  text-align: center;
}

.product-infoblock__advantages > ul > li{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  position: relative;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-gray;
}

.product-infoblock__advantages > ul > li:before{
  position: absolute;
  left: 0;
  width: 1px;
  height: 40px;
  background-color: #d7d7d7;
  top: 50%;
  content: '';
  left: 0;
  margin-top: -20px;
}
.product-infoblock__advantages > ul > li:first-child:before{
  display: none;
}
.product-infoblock__advantages > ul > li i{
  font-size: 30px;
  color: $green;
  position: relative;
  top: 7px;
  margin-right: 8px;
}

// product footer
.product-footer__left{
  width: 62.5%;
}
.product-footer__title{
  padding: 28px 0 30px 0;
  font-size: 28px;
  margin-bottom: 0;
  font-weight: 600;
  color: $dark-gray;
}

.product-footer__details .row{
  margin-bottom: 10px;
}
 hr{
  border-color: #e8edf0;
}

.product-footer__lead{
  font-size: 28px;
  font-weight: 300;
  color: $dark-gray;
  padding-top: 3px;
}

.product-footer__right {
    width: 34.1%;
    margin-left: 3.4%;
}

.product-footer > div{
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.widget{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #e8edf0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.widget__title{
  padding: 19px 30px 20px 30px;
  border-bottom: 1px solid #e8edf0;
  font-size: 28px;
  font-weight: 300;
  color: $dark-gray;
}
.widget__title i{
  position: relative;
  top: 2px;
  color: #d7d7d7;
  font-size: 24px;
}
.widget__body{
  padding: 20px 30px;
}
.widget__last-binds__item{
  display: table;
  width: 100%;
}
.widget__last-binds__item > div{
  display: table-cell;
}
.widget__last-binds__item > div:first-child{
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  color: $dark-gray;
  padding-right: 10px;
  width: 21%;
}
.widget__last-binds__item .text-muted{
  color: #959595;
  font-weight: 400;
}
.widget__last-binds__item .text-muted i{
  margin-right: 9px;
  color: #c2c2c2;
}
.widget__last-binds__item .text-muted strong{
  font-weight: 600;
}
.widget__last-binds__list{
  margin-bottom: 10px;
}
.product-block__slider-controls{
  padding-top: 20px;
}
.product-block__slider-controls .slick-dots > li > button{
background-color: #d7d7d7;
}

@media(max-width: 489px){
  .product-preview{
    max-width: 320px;
    margin: 20px auto;
  }
}

@media (min-width: 490px) and (max-width: 767px){
  #products-hotest .col-sm-4{
    float: left;
    width: 50%;
  }
}