.prik-select__block.btn.dropdown-toggle{
	height: 50px;
	background: $white;
	box-shadow: none !important;
	outline: none !important;
	color: #acacac;
	font-size: 18px;
	line-height: 50px;
	font-weight: 400;
}
.prik-select .caret{
	border-top: 7px dashed;
    border-top: 7px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.prik-select .dropdown-menu{
	border-radius: 4px;
	border: 1px solid #e8edf0;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}
.prik-select  .dropdown-menu > li > a{
	padding: 12px 17px;
	color: #464646;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}
.prik-select .dropdown-menu > li > a:hover, 
.prik-select .dropdown-menu > li > a:focus{
	background-color: #f6f6f6;
}