table.table thead tr th{
	color: #959595;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td{
	border-bottom: 1px solid #e8edf0;
}

.table > tbody > tr> td{
	border-bottom-color: transparent;
	color: #555555;
	font-size: 16px;
	padding: 10px 15px 10px 0;
}
.table > tbody > tr> td:last-child,
.table > tbody > tr> th:last-child{
	text-align: right;
}
.table > tbody > tr> td strong{
	color: #555555;
	font-size: 16px;
}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:last-child{
	padding-right: 0;
	padding-left: 0;
	
}
.table > thead > tr > th:last-child{
	text-align: right;
}