.modal-header .nav-tabs > li > a{
	border: none !important;
	border-radius: 0;
	background-color: #eff4f7;
	color: #8e9ab0;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	padding: 15px 0 15px 0;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	border-left: none;
	border-right: none;
}
.modal-header .nav-tabs > li.active > a,
.modal-header .nav-tabs > li.active-my > a{
	background-color: #ffffff;
	color: #2e3448;
	font-weight: 600;
}
.modal-header .nav-tabs{
	position: absolute;
	top: -49px;
	left: 0;
	right: 0;
	margin: auto;
	padding-left: 1px;
	border-bottom-color: transparent;
}
.modal-header .nav-tabs > li{
	float: none;
	display: table-cell;
	padding-right: 4px;
	width: 50%;
}
.modal-header .nav-tabs > li:last-child{
	padding-right: 0;
}
.modal-header .nav-tabs{
	display: table;
	width: 301px;
    margin-left: -1px;
}
.modal-header{
	border-bottom: none;
}
.nav-tabs{
	border-bottom: none;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	border: none;
}
.nav-tabs > li{
	margin-bottom: 0;
	margin-right: 4px;
}
.nav-tabs > li:last-child{
	margin-right: -4px;
}
.nav-tabs > li > a{
	border: none !important;
	border-radius: 0;
	padding: 11px 30px;
	font-size: 18px;
	font-weight: 500;
	color: #2e3448;
	background-color: #e1e1e1;
}
