.m-menu {
  display: none;
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: $white;
}

.m-menu__user-bar {
  background-color: #eff4f7;
  padding: 10px 0;
}

.m-menu__body__categories-btn {
  position: relative;
  display: block;
  box-sizing: border-box;
  color: #355668;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.m-menu__body__search {
  display: table;
  width: 100%;
}

.m-menu__body__search>* {
  display: table-cell;
  vertical-align: top;
}

.m-menu__body__search .form-control {
  width: 80%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #e8edf0;
  background-color: #ffffff;
  color: #acacac;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
}

.m-menu__body__search .btn.btn-default {
  padding: 14px 12px;
  text-align: center;
  width: 15%;
  margin-left: 5%;
}

.m-menu__body__search .btn.btn-default i {
  top: 0;
}

.m-menu__body>.container>.row>div {
  border-bottom: 1px solid #ebebeb;
  padding: 18px 15px;
}

.m-menu .btn-add {
  width: 100%;
  display: block;
}

.m-menu__footer {
  background: $dark-gray;
}

.m-menu__footer__nav {
  padding: 0;
  margin: 0;
  padding: 20px 19px;
  border-bottom: 1px solid #3e4456;
}

.m-menu__footer__nav>li>a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.m-menu__footer__socials {
  padding: 19px 0 10px 0px;
}

.m-menu__footer__socials li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.m-menu__footer__socials a {
  font-size: 18px;
  color: #ffffff;
}

.m-menu__footer__socials a:hover {
  text-decoration: none;
}


//  categories
.m-menu__categories-list {
  display: none;
}

.m-menu__categories-list__nav {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.m-menu__categories-list__nav>li,
.m-menu__categories-list__nav>li>a {
  list-style: none;
  color: #355668;
  font-size: 17px;
  font-weight: 500;
}

.m-menu__categories-list__nav>li>a {
  display: table;
  width: 100%;
  padding-top: 12px 0;
  position: relative;
}

.m-menu__categories-list__nav>li {
  border-bottom: 1px solid #ebebeb;
}

.m-menu__categories-list__nav>li>a>* {
  display: table-cell;
  vertical-align: middle;
}

.m-menu__categories-list__nav>li>a:hover,
.m-menu__categories-list__nav>li>a:focus {
  text-decoration: none;
  color: $green;
}

.m-menu__categories-list__nav>li>a>*:first-child {
  width: 74px;
}

.m-menu__categories-list__nav>li>a i {
  font-size: 36px;
  position: relative;
  top: 2px;
}

.m-menu__categories-list__nav>li>a:after {
  position: absolute;
  right: 15px;
  content: "\46";
  font-family: "pirk-siulyk" !important;
  color: #00afeb;
  font-size: 10px;
  top: 50%;
  margin-top: -8px;
}

.m-menu__categories-list__nav>li.active>ul {
  height: auto;
}

.m-menu__categories-list__nav>li.active>a:after {
  content: "\4e";
}

.m-menu__categories-list__icon {
  text-align: center;
}

.m-menu__categories-list__nav>li>ul {
  padding-left: 74px;
  height: 0;
  overflow: hidden;
}

.m-menu__categories-list__nav>li>ul>li {
  list-style: none;
  margin-bottom: 7px;
}

.m-menu__categories-list__nav>li>ul>li:last-child {
  padding-bottom: 8px;
}

.m-menu__categories-list__nav>li>ul>li>a {
  color: #355668;
  font-size: 16px;
  font-weight: 500;
}

.m-menu__categories-list_back {
  padding-left: 15px;
  color: $blue;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 0px;
  display: block;
  padding-left: 35px;
  padding-right: 15px;
  border-bottom: 1px solid #ebebeb;
}

.m-menu__categories-list_back:hover,
.m-menu__categories-list_back:focus {
  color: $green;
  text-decoration: none;
}

.m-menu__categories-list_back:before {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -5px;
  font-family: "pirk-siulyk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  content: "\75";
  speak: none;
  font-size: 12px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.m-menu__body__categories-btn:after {
  position: absolute;
  right: 15px;
  top: 50%;
  color: $blue;
  margin-top: -5px;
  font-family: "pirk-siulyk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  content: "\76";
  speak: none;
  font-size: 12px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.m-menu__body__categories-btn:hover,
.m-menu__body__categories-btn:focus,
.m-menu__body__categories-btn:hover:after,
.m-menu__body__categories-btn:focus:after{
  color: $green;
  text-decoration: none;
}
.m-menu__body__categories-btn:after{

}
// categories menu
.categories-menu {
  position: absolute;
  z-index: 999999;
  display: none;
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  background: $dark-gray;
  max-width: 760px;
}

.categories-menu__single-cat__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $white;
}

.categories-menu__single-cat__name>a {
  color: $white;
  text-decoration: none;
}

.categories-menu__single-cat__categories {
  margin: 0;
  padding: 0;
}

.categories-menu__single-cat__categories>li {
  list-style: none;
}

.categories-menu__single-cat__categories>li>a {
  font-size: 14px;
  color: $white;
  font-weight: 400;
}

.categories-menu__single-cat__categories>li>a:hover,
.categories-menu__single-cat__name>a:focus,
.categories-menu__single-cat__name>a:hover,
.categories-menu__single-cat__more-link:hover,
.categories-menu__single-cat__more-link:focus {
  text-decoration: none;
  color: $green;
}

.categories-menu__single-cat__more-link {
  color: #8e9ab0;
  position: relative;
  font-weight: 500;
}

.categories-menu__single-cat__more-link:after {
  position: absolute;
  right: -20px;
  top: 8px;
  content: "\76";
  font-size: 10px;
  font-family: "pirk-siulyk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
}

.categories-menu__inner>.row>div {
  margin-bottom: 35px;
}
.categories-menu__inner>.row>div:last-child {
  margin-bottom: 16px;
}

.categories-menu hr{
  border-color: #424c63;
  margin: 0;
  margin-bottom: 10px;
}
.categories-menu .btn-link.btn-link-default{
  margin-right: 16px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}